<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.avito.presentation.UI.PlaybackActivity"
            android:exported="false"
            />


        <service
            android:name=".MusicService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
    </application>


</manifest>